* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #F2F5EC;
    padding: 15px;
    position: sticky;
    z-index: 1000;
}
h1 {
    font-style: initial;
    font-size: 2rem;
    color: black;
    margin: 30px;
}
.container{
        display: flex; 
        justify-content: space-around;
        align-items: center; 
      }
      /* Estilo para la imagen */
      .image {
        max-width: 100%; 
        margin-left: 20px; 
      }
      .container p{
        width: 50%;

      }
nav {
    margin: 15px;
    color: black;
    font-style: italic;
}

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
}

.listContainer li {
    list-style: none;
}

.listContainer a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

.listContainer a:hover {
    font-weight: bold;
}

/* Mostrar la barra de navegación móvil en dispositivos móviles */
@media ( max-width: 600px) {
    .listContainer {
        display:box;
    }
    .mobile-nav {
        display:block;
    }
}
footer {
    background-color: #5E6961;
    padding: 10px;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-links a {
    text-decoration: none;
    color: #000000;
}
main {
    background-color: #BDC3BA;
    padding: 15px;
}
.content-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
@media (min-width: 600px) {
    .listContainer {
        flex-direction: row;
        justify-content: center;
    }
    .content-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media  (min-width: 800px){
    .content-grid {
        grid-template-columns: 1fr 1fr;
    }
}
.product-section {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .product-info {
    flex: 1;
    padding-right: 20px; 
  }
  .product-image {
    flex-shrink: 0; 
  }
  .image {
    width: 300px;
    height: 300px;
    border-radius: 10px; 
    
  }
  .product-info h2 {
    color: #333;
    font-size: 1.5rem;
  }
  .product-info p {
    color: #555;
    font-size: 1rem;
  }