.aboutUs{
    width: 40%;
    margin-left:40px ;
    
}
.hamburger {
    display: none;
    cursor: pointer;
    border: none;
  }
  .listContainer.active {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
  }
  @media screen and (max-width: 600px) {
    .listContainer {
      display: none;
      position: fixed; 
      top: 9%; 
      left: 0; 
      width: 100%; 
      height: 30%; 
      background: rgba(0, 0, 0, 0.9); 
    }
    .listContainer.active {
      display: flex; 
      flex-direction: column; 
      align-items: center;
      justify-content: center;
    }
    .listContainer a {
      color: white;
    }
    .hamburger {
      display: block;
  
    }
  }
  .fa-bars {
    font-size: 20px;
  
  }
  .fa-times {
    font-size: 20px;
  }
  .photos1 {
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    max-height: 400px; /* Establece la altura máxima de las imágenes */
}
.photos {
   
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
    max-height: 400px; /* Establece la altura máxima de las imágenes */
}